body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#div1{
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
}

#div2{
    background-color: #ccc;
    width: 45%;
    display: block;
    border-radius: 40px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
}

#div3{
    background-color: #ccc;
    border-radius: 10px;
    display: block;
    /*position: relative;*/
    /*margin-left: 50%;*/
    /*bottom: 160px;*/
    padding: 15px;
    width: 56%;
    margin-top: 20px;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 30px;
}

label{
    display: inline-block;
    margin-bottom: 15px;
    font-size: 20px;
}