*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: blue;
    text-decoration: none;
    text-align: right;
    display: block;
}

a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    color: black;
    padding: 20px;
}

input{
    display:block;
    height: 50px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    outline: none;
}

input[type=submit]{
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 14pt;
    padding: 10px 20px;
    
    cursor: pointer;
}  


#corpo-form{
    /*background-color: red;*/
    width: 420px;
    
    margin: 130px auto 0px auto;
}

#corpo-form-cad{
    width: 420px;
    margin: 80px auto 0px auto;
}

#h1-cad{
    width: 420px;
    margin: 100px auto 0px auto;
    color: black;
}


div#msg-sucesso{
    width: 420px;
    margin: 30px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50, .3); 
    border: 1px solid rgb(34, 139, 34);
}
div.msg-erro{
    text-align: center;
    width: 420px;
    margin: 30px auto;
    padding: 10px;
    border: 1px;
    color: blue;
}